@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*
{
  box-sizing: border-box;
}

/* Layout */
html, body, #root, #main-container
{
  height: 100%;
}
#main-container
{
  display: flex;
  font-family: "Montserrat", sans-serif;
}
#char-sheet-container
{
  width: 80%;
  background-image: url("./assets/VTT/MM_Char_Sheet_Background.png");
  background-repeat: no-repeat;
  background-color: #FFFCF6;
  color: black;
  padding: 0.625rem;
}

#foundry-sidebar
{
  background-color: #FFFCF6;  
  border: 3px solid gray;
  border-radius: 5px;
  margin: 0 1em;
  color: black;
  min-width: 20%;
  padding: 0.625rem;
}
/* Name and Gift of the Name Layout */
#name-attribute-container > div
{
  margin: 0 1rem;
}

#char-name > .attribute-description
{
  margin: 0;
}
/* Progress Box Layout */
.progress-info-container
{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Organ Attributes Layout */
#organ-attribute-container
{
  display: flex;
  flex-direction: column;
}
.organs
{
  display: flex;
  max-width: 60%;
}

.organs > div, #blood-attribute
{
  margin: 0 1rem;
}

.organs > div:last-child
{
  margin-left: auto;
}

/* Gift of the Bonds and Gift of the Virtues Containers */

#gift-bonds-container > div, #gift-virtues-container > div
{
  justify-content: unset;
}

#virtues-container
{
  display: flex;
}

#gift-bonds-container
{
  margin: 1rem 0;
}
/* Utility */
.flex-col
{
  display: flex;
  flex-direction: column;
}
.flex
{
  display: flex;  
}

.align-baseline
{
  align-items: baseline;
}

.header
{
  margin: 0;
}

/* Typography */
.attribute-description
{
  color: #808080;
}

/* media */
.img-slot-icon, .img-slot-icon-blood
{
  width: 40px;
  height: 40px;
}

.img-progress-box
{
  width: 20px;
  height: 20px;
  margin: 2px;
}
.img-progress-diamond
{
  width: 8px;
  height: 8px;
  margin: 0 3px;
}

.img-slot-icon:hover, .img-progress-box:hover
{
  cursor: pointer;
  background-color: #808080;
}

.img-slot-icon:active, .img-progress-box:active
{
  cursor: pointer;
  background-color: #cacaca;
}

