@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*
{
  box-sizing: border-box;
}

/* Layout */
html, body, #root, #main-container
{
  height: 99%;
}
#main-container
{
  display: flex;
  margin: 5px;
}

#nav, #maint-container
{
  font-family: "Montserrat", sans-serif;
}

#nav
{
  width: 100%;
  margin: 0 auto;
  padding: 1em;
}
#nav button
{
  border: none;
  background: none;
  color: inherit;
  font-family: inherit;
  padding: 0.3rem;
  margin: 0.6rem;
  font-size: 1.5rem;
}
#nav button:hover
{
  color:#808080;
}
#char-sheet-container
{
  /* max-width: 1530px; */
  background-image: url("./assets/VTT/MM_Char_Sheet_Background.png");
  background-repeat: no-repeat;
  background-size: clamp(1000px, 1800px, 2000px);
  color: black;
  padding: 0.625rem;
  margin: 0 auto;
  flex-grow: 1;
}

#character-creation-form
{
  display: block;
  position: fixed;
  left:5%;
  top:5%;
  width: 90%;
  height: 90%;
  background-color: #252525;
  border: 1px solid whitesmoke;
  margin: 0 auto;
  padding: 1em;
  overflow-y:scroll
}

#foundry-sidebar
{
  background-color: #FFFCF6;  
  border: 3px solid gray;
  border-radius: 5px;
  margin: 0 1em;
  margin-right: 0;
  color: black;
  padding: 0.625rem;
  min-width: 20%;
  flex-grow: 1;
}
/* Name and Gift of the Name Layout */
#name-attribute-container > div
{
  margin: 0 1rem;
}

#char-name > .attribute-description
{
  margin: 0;
}
/* Progress Box Layout */
.progress-info-container
{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Organ Attributes Layout */
#organ-attribute-container
{
  display: flex;
  margin-right: 1rem;
  gap: 1.5rem;
}

/* Gift of the Bonds and Gift of the Virtues Containers */

#gift-bonds-container > div, #gift-virtues-container > div
{
  justify-content: unset;
}

#virtues-container
{
  display: flex;
}

#gift-bonds-container
{
  margin: 1rem 0;
}

.organ-header-container
{
  margin: 0.4rem 0;
}
/* Utility */
.flex-col
{
  display: flex;
  flex-direction: column;
}
.flex
{
  display: flex;  
}

.align-baseline
{
  align-items: baseline;
}

.header
{
  margin: 0;
}

/* Typography */
.attribute-description
{
  color: #808080;
}

.organ-header
{
  display: inline;
}

.organ-header:hover
{
  cursor: pointer;
  text-shadow: 1px 1px 10px red;
}

/* media */
.img-slot-icon, .img-slot-icon-blood
{
  width: 40px;
  height: 40px;
}

.img-progress-box
{
  width: 20px;
  height: 20px;
  margin: 2px;
}
.img-progress-diamond
{
  width: 8px;
  height: 8px;
  margin: 0 3px;
}

.img-slot-icon:hover, .img-progress-box:hover
{
  cursor: pointer;
  background-color: #808080;
}

.img-slot-icon:active, .img-progress-box:active
{
  cursor: pointer;
  background-color: #cacaca;
}

